@font-face {

    font-family: "mukta_bold";
    src: url("./assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("./assets/fonts/pontoColeta/Mukta-Medium.ttf")
}