@font-face {

    font-family: "mukta_bold";
    src: url("./assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("./assets/fonts/pontoColeta/Mukta-Medium.ttf")
}
  
  .btnOpenModal {
    font-size: x-large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
    font-family: mukta_medium;
  }
  
  span p{
    margin: 15px;
  
  }
  
  .modal-container {
    width: 100vw;
    position: fixed;
    top: 30px;
    display: none;
    z-index: 999;
    justify-content: center;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    width: 50%;
    font-family: mukta_medium;
    text-align: justify;
  }

  .modal img{
      max-width: 100%;
      height: auto;
  }
  
    
  .active {
    display: flex;
  }
  
  .active .modal {
    animation: modal .4s;
  }
  
  span {
    margin: 10px auto;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btns button {
    font-size: medium;
    padding: 10px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-family: mukta_medium;
  }
  
  .btnOK {
   background-color: #6A994E;
  }
  
  .btnClose {
    background-color: brown;
   }
  
   @keyframes modal {
    from {
      opacity: 0;
      transform: translate3d(0, -60px, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
   @media (max-width: 500px) {
    .modal {
      padding: 10px;
      width: 80%;
    }   
  
    span, .btns button {
      font-size: smaller;
    }
   }