#Modal_Login {
    background-color: rgba(0,0,0,.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

#Fundo_Login {
    background-color: #FFF;
}

#Fechar_Modal {
    font-size: 30px;
    color: #FFF;
    display: block;
}

.Modal_Login-active {
    display: flex !important;
}

#foto_fundo {
    height: 440px;
    margin-left: 73px;
}

.login {
    background-color: green;
    border-radius: 5px;
    color: #FFF;
}

.login {
    padding: 5px;
    width: 75px;
    margin-left: 135px;
}

#usuario {
    color: #2C5746;
}

#logo {
    margin-top: 53px;
    width: 50px;
    height: 50px;
    margin-left: 90px;
}
#esqueci_senha {
    margin-left: 210px;
    font-size: 10px;
}
#insert_usuario {
    border-radius: 15px;
    width: 220px;
    height: 25px;
    background-color: #e9ebea;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;

}
#insert_senha {
    border-radius: 15px;
    width: 220px;
    background-color: #e9ebea;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;
}
#insert_usuario :focus {
    border-color: #2C5746;
}
#senha {
    color: #2C5746;
}
.cadastrar {
    margin-top: 71px;
    font-size: 14px;
}
