body {
    background-color: #FAF3E1;
}

.botao-login {
    border-color: #5D6E1E;
    color: #5D6E1E;
}

.header-pesquisa {
    width: 600px;
    border-color: #3B5284;
    background-color: #fff;
    outline: none;
   padding-left: 8px;
}

.header-pesquisa:active,
.header-pesquisa:focus {
    border-color: #3B5284;
    border-width: 3px;
}

.header-botao-pesquisa{
    width: 100px;
 background-color: #3B5284;
}

.header-menu li {
    padding-right: 18px;
    color: #5D6E1E;
}