body {
    background-color: #FAF3E1;
}

#header-menu-list li:hover > .header-anuncios-list-submenu{
    opacity: 1;
    pointer-events:all;
    background-color: #CDE54E;
    border-radius: 20px;
    padding-left: 10px;
    width: 90px;
 }
.header-anuncios-list-submenu{
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.header-anuncios-list-submenu li:hover{
    color: #fff;
}

#modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0,0,0,.6);
    display: none;
}

.modal-active {
    display: block !important;
}

#fechar-modal {
    font-size: 30px;
    color: #fff;
}

.botao-login {
    border-color: #5D6E1E;
    color: #5D6E1E;
}

.header-pesquisa {
    width: 600px;
    border-color: #3B5284;
    background-color: #fff;
    outline: none;
   padding-left: 8px;
   padding-right: 96px;
   margin-right: -96px;
}

.header-pesquisa:active,
.header-pesquisa:focus {
    border-color: #3B5284;
    border-width: 3px;
}

.header-botao-pesquisa{
    width: 100px;
 background-color: #3B5284;
}

.header-menu li {
    padding-right: 18px;
    color: #5D6E1E;
}

.rodape {
    position: absolute;
    bottom: 0;
    background-color: #5D6E1E;
    color: #fff;
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;

    
}
.rodape-menu ul{
    display: flex;
}
