#modal-esqueci {
    background-color: rgba(0,0,0,.35);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    align-items: center !important;
    justify-content: center !important;
}
#fundo-esqueci {
    background-color: #FFF;
    border-radius: 12px;
    height: 320px;
    width: 320px;
}