@font-face {
    font-family: Fredoka;
    src: url(./assets/fonts/Fredoka.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(./assets/fonts/Montserrat-Italic.ttf);
}

body {
    background-color: #FAF3E1;
}

.error {
    background-color: #3B5284;
    border-radius: 22px;
    border: solid 1px #FAF3E1;
    color: #FAF3E1;
    /* margin: 5px 160px; */
    /* width: 190px; */
    margin-bottom: 10px;
    padding: 5px 10px;
    font-family: Montserrat;
    text-align: center;
}

.centralizar {
    display: flex;
    justify-content: center;
}

.header-logo {
    height: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.header-btn-login {
    width: 100px;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #5D6E1E;
    border-radius: 20px;
    font-size: 18px;
    font-family: Fredoka !important;
}

.header-btn-menu {
    width: 100px;
    height: 40px;
}

#header-btn-menu-texto {
    transform: rotate(90deg);
    color: #307c52;
    font-size: 30px;
    font-weight: 700;
}

.modal-active {
    display: block !important;
}

.header-modal-menu {
    display: none;
    background-color: #307c52;
    width: 100vw;
    margin-top: 10px;
    padding: 10px;
}

.header-modal-menu li:hover {
    color: #5D6E1E;
}

.header-menu {
    display: flex;
    justify-content: center;
}

.header-menu-padding{
    padding-bottom: 15px;
}

.header-menu li {
    padding-right: 18px;
    color: #FAF3E1;
    font-size: 20px;
    font-family: Montserrat !important;
}

.header-modal-menu-residuos,
.footer-modal-menu-residuos {
    display: none;
    padding-left: 30px;
    color: #fff;
}

/* .header-pesquisa {
    width: 600px;
    height: 40px;
    border: 2px solid #307c52;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    padding-right: 96px;
    margin-right: -96px;
}

.header-pesquisa:active,
.header-pesquisa:focus {
    border-color: #307c52;
    border-width: 3px;
}

.header-btn-pesquisa {
    width: 100px;
    height: 40px;
    border: 2px solid #307c52;
    border-radius: 20px;
    background-color: #307c52;
    font-family: Fredoka !important;
} */

#quem-somos,
.quem-pode-usar,
.como-te-ajudamos {
    margin: 20px 0;
}

.quem-pode-usar-img{
    display: none;
}

.quem-somos-img,
.quem-pode-usar-logo,
.como-te-ajudamos-img,
.rodape-logo {
    flex-wrap: wrap;
    align-content: space-around;
}

.rodape-img-logo{
    height: 56px;
}

.quem-somos-logo-text,
.quem-pode-usar-text,
.como-te-ajudamos-logo-text {
    margin: 30px 0px;
}

.quem-somos-logo-text h1,
.como-te-ajudamos h1 {
    width: 250px;
    font-family: Fredoka !important;
    font-size: 30px;
    color: #5D6E1E;
    font-weight: 700;
}

.quem-somos-logo-text p,
.como-te-ajudamos p {
    width: 250px;
    font-family: Montserrat !important;
    font-size: 18px;
    color: #5D6E1E;
}

.quem-somos-img-mapa{
    height: 240px;
}

.como-te-ajudamos button {
    width: 130px;
    height: 40px;
    border: 1px solid #5D6E1E;
    border-radius: 20px;
    font-size: 18px;
    font-family: Fredoka !important;
    color: #fff;
    background-color: #5D6E1E;
}

.como-te-ajudamos-residuos{
    height: 320px;
}

.quem-pode-usar {
    background-color: rgba(48, 124, 82, 0.15);
}

#quem-pode-usar-logo-text {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
}

.quem-pode-usar-text h1 {
    width: 250px;
    font-family: Fredoka !important;
    font-size: 30px;
    color: #307c52;
    font-weight: 700;
}

.quem-pode-usar-text p {
    width: 250px;
    font-family: Montserrat !important;
    font-size: 18px;
    color: #307c52;
}

.rodape-img{
 display: none;
}
.rodape-colunas {
    background-color: #5D6E1E;
    color: #fff;
    display: grid;
    justify-content: space-around;
}

.rodape-logo{
height: 100px;
width: 300px;
margin: 20px 0;
}

.rodape-denuncia,
.rodape-sugestoes {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.rodape-denuncia h1,
.rodape-sugestoes h1 {
    font-family: Montserrat !important;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.rodape-denuncia p,
.rodape-sugestoes p {
    font-family: Montserrat !important;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.rodape-denuncia a {
    font-family: Montserrat !important;
    font-size: 15px;
    border: 10px solid #3B5284;
    border-radius: 20px;
    background-color: #3B5284;
}

#rodape-sugestoes-textarea {
    width: 300px;
    height: 90px;
    border: 2px solid #3B5284;
    padding: 10ox;
    color: #000;
}

.rodape-sugestoes-btn {
    font-family: Fredoka !important;
    font-size: 14px;
    width: 300px;
    height: 25px;
    border: 2px solid #3B5284;
    background-color: #3B5284;
    color: #fff;
}

@media(min-width: 970px) {

    #header-logo-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        display: flex;
        justify-content: flex-start;
    }

    .header-btn-login {
        width: 110px;
        font-size: 20px;
    }

    .header-menu {
        align-items: center;
        position: relative;
    }

    .header-btn-menu {
        display: none;
    }

    .header-modal-menu {
        display: flex;
        justify-content: end;
        width: 600px;
        background-color: #FAF3E1;
    }

    .header-menu li {
        color: #307c52;
        font-size: 22px;
        padding-left: 5px;
    }

    .header-modal-menu-residuos,
    .footer-modal-menu-residuos {
        padding-left: 0px;
        position: absolute;
        background-color: #94B447;
        color: #FAF3E1;
        border-radius: 30px;
        font-family: Montserrat !important;
        height: 198px;
        width: 150px;
        padding: 10px;
    }

    .footer-modal-menu-residuos{
        position: relative !important;
    }

    .header-modal-menu-residuos li{
        color: #FAF3E1;
    }

    #quem-somos,
    .quem-pode-usar,
    .como-te-ajudamos {
        display: flex;
        justify-content: space-around;
    }

    .quem-pode-usar-img{
        display: flex;
        height: 350px;
        margin: 30px 100px;
    }

    .quem-somos-img-mapa{
        height: 350px;
        margin-right: 50px;
    }

    .quem-somos-text,
    .como-te-ajudamos-text,
    .quem-pode-usar-text{
        align-items: center;
    display: grid;
    align-content: center;
    }

    .quem-somos-logo-text h1,
.como-te-ajudamos h1, 
.quem-pode-usar-text h1{
    width: 500px;
    font-size: 35px;
}

.quem-somos-logo-text p,
.como-te-ajudamos p,
.quem-pode-usar-text p  {
    width: 500px;
    font-size: 25px;
}

.como-te-ajudamos button {
    width: 160px;
    font-size: 25px;
}

.como-te-ajudamos-residuos{
height: 400px;
margin-right: 100px;
}

.rodape-img-mobile{
    display: none;
}

.rodape-img{
display: flex;
}

.rodape-colunas{
    display: flex;
}

.rodape-logo{
    height: 340px;
    margin: 0;
}

.rodape-img-logo{
    height: 100px;
}

.rodape-denuncia{
    width: 400px;
}

.rodape-denuncia h1,
.rodape-sugestoes h1 {
    font-size: 25px;
}

.rodape-denuncia p,
.rodape-sugestoes p {
    font-size: 18px;
}

.rodape-denuncia a {
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

#rodape-sugestoes-textarea {
    height: 120px;
    width: 400px;
}

.rodape-sugestoes-btn {
    font-size: 18px;
    height: 35px;
    width: 400px;
}
}


