@font-face {
    font-family: "ptssansbold";
    src: url("./assets/fonts/PTSansNarrow-Bold.ttf");
}
@font-face{
    font-family: "judson";
    src: url("./assets/fonts/Judson-Italic.ttf");
}
body {
    width: 100%;
    background-color: #FAF3E1;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}
.logo-texto p {
    font-family: judson;
    color: #5D6E1E;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.61);}

form {
    display: grid;

    width: 350px;
    height: 500px;
    background-color: #E8E5DF;
    border-radius: 30px;

}

.cadastro {
    display: grid;
    place-items: center;
    text-align: center;
    color: #3B5284;
}

input {
    border-radius: 10px;
}

.input-cadastro {
    color: #2C5746;
    width: 350px;
    height: 350px;
    display: grid;
    place-items: center;
    justify-self: center;
    text-align: start;
    font-family: ptssansbold;
    font-size: 22px;
}

.logo-texto {
    display: grid;
    place-items: end;
}
.logo-texto p{
    margin-bottom: 160px;
}

#btn-continue {
    margin: 20px;
    width: 270px;
    background-color: #3B5284;
    color: #fdfeff;
    font-size: 20px;
    padding: 10px 39px;
    cursor: pointer;
    transition: 1s;
    border-radius: 14px;

}
#login{
    color: #2C5746;
    font-family: ptssansbold;
    font-size: 22px;
}
#login span{
    color: #307C52;
}


/* main {
    background-color: #000;  
    width: 1023px;
    height: 767px;

    margin:  50px auto;
    border-radius: 15px;
}
@media (max-width: 970px){
    main {
        width: 500px;
        height: 500px;
    }

} */