@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

main {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: mukta_medium;
}

.container {
    background-color: #fafafa; /* MUDAR COR  */
    border-radius: 22px;
    margin: 14px;
    max-width: 600px;
    width: 100%;
    box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.header {
    background-color: #6A994E;
    padding: 24px;
    text-align: center;
    color: #FFF;
}

.form {
    padding: 18px;
}

.formContent {
    margin-bottom: 25px;
    padding-bottom: 18px;
    position: relative;
}

.formContent label {
    display: inline-block;
    margin-bottom: 4px;
}

.formContent input, select {
    display: block;
    width: 100%;
    border-radius: 8px;
    padding: 8px;
    border: 2px solid #dfdfdf;
    font-family: mukta_medium;
}

option{
    font-family: mukta_medium;
}

.formContent a {
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form button {
    background-color: #6A994E;
    color: #FFF;
    width: 100%;
    border-radius: 22px;
    padding: 10px;
    border: 0;
    font-size: 16px;
    cursor: pointer;
    margin-top: 14px;
    font-family: mukta_medium;
}

.formContent.error input {
    border-color: #ff3b25;
}

.formContent.error a {
    color: #ff3b25;
    font-size: 14px;
    visibility: visible;
    margin-bottom: 5px;
}

.sucess {
    color: #307c52;
    font-family: mukta_bold;
}

.footerImgMobile {
    display: none;
}

.footerImgPlants {
    display: flex;
}

.footerColumn {
    display: flex;
}

.footerLogo {
    height: 340px;
    margin: 0;
}

.footerLogo {
    height: 100px;
}

.footerComplaint {
    width: 400px;
}

.footerComplaint h1 {
    font-size: 20px;
}

.footerComplaint p {
    font-size: 18px;
}

.footerComplaint a {
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
}


 

@media(min-width: 970px){
    .footerImgPlants {
        display: none;
    }
    
    .footerColumn {
        background-color: #5D6E1E;
        color: #fff;
        display: grid;
        justify-content: space-around;
    }
    
    .footerLogo {
        height: 100px;
        width: 300px;
        margin: 20px 0;
    }
    
    .footerComplaint {
        width: 300px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 15px 0;
    }
    
    .footerComplaint h1 {
        font-family: mukta_bold !important;
        font-size: 18px;
        font-weight: 700;
        margin-top: 25px;
    }
    
    .footerComplaint p {
        font-family: mukta_medium !important;
        font-size: 14px;
        margin-bottom: 15px;
        text-align: center;
    }
    
    .footerComplaint a {
        font-family: mukta_bold !important;
        font-size: 14px;
        border: 10px solid #6A994E;
        border-radius: 20px;
        background-color: #6A994E;
    }
}