@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}
.greetings {
    display: grid;
    justify-content: center;
}

aside img {
    height: 90px;
    margin: 10px auto;
}

aside h1 {
    font-family: mukta_bold;
    font-size: 30px;
    margin: auto;
}

aside p {
    font-family: mukta_medium;
    margin: auto;
    text-align: center;
}

.register {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.register h1 {
    font-family: mukta_bold;
    margin: auto;
    font-size: 25px;
}

#chooseAcontType {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.btnSejaColetor {
    width: 20px;
    height: 20px;
    border: solid 1px;
    border-radius: 10px;
}

.btnSejaColetor.active {
    background-color: #386641;
    border: 0px;
}

#chooseAcontType h2 {
    font-family: mukta_bold;
    margin: 0px 0px 3px 5px;

}

#textSejaColetor {
    font-family: mukta_medium;
    font-size: 12px;
    text-align: center;
}

.formCadastreColetor {
    display: none;
}
.formCadastreColetor.active {
    display: block;
}


.formCadastreUser.active {
    display: none;
}
.campCpf.active{
    display: none;

}
.formCadastre {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.formCadastre label{
    margin: 5px;
    padding: 3px;
}
.formContent {
    font-family: mukta_medium;

}

.formContent label {
    display: inline-block;
    margin-bottom: 4px;
    color: #000;
    font-size: 15px;
}

.formContent input {
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #b6b2b2;
    color: #000;
}

#submitCadastreUser{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100px;
    height: 50px;
    background-color: #386641;
    border-radius: 20px;
}
.btnCadastro{
    color: white;
}
#textJaPossuiConta{
text-align: center;
}
#textJaPossuiConta a{
    color: #386641;
}
.formContent a {
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
.formContent.error input {
    border-color: #ff3b25;
}
.formContent.error a {
    color: #ff3b25;
    visibility: visible;
}
