@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}


.greetings {
    display: grid;
    justify-content: center;
}

aside img {
    height: 90px;
    margin: 10px auto;
}

aside h1 {
    font-family: mukta_bold;
    font-size: 30px;
    margin: auto;
}

aside p {
    font-family: mukta_medium;
    margin: auto;
    text-align: center;
}

.register {
    display: grid;
    justify-content: center;
    margin-top: 20px;
}

.register h1 {
    font-family: mukta_bold;
    margin: auto;
    font-size: 25px;
}

#chooseAcontType {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.btnSejaColetor {
    width: 15px;
    height: 15px;
    border: solid 1px;
    border-radius: 10px;
}

.btnSejaColetor.ativo {
    background-color: #3B5284;
}

#chooseAcontType h2 {
    font-family: mukta_bold;
    margin: 0px 0px 3px 5px;

}

#textSejaColetor {
    font-family: mukta_medium;
    font-size: 12px;
    text-align: center;
}

.formCadastre {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.formContent {
    font-family: mukta_medium;

}

.formContent label {
    display: inline-block;
    margin-bottom: 4px;
    color: #000;
    font-size: 15px;
}

.formContent input {
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #b6b2b2;
    color: #000;
}

.formContent a {
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}


/* @font-face {
    font-family: Fredoka;
    src: url(../assets/fonts/Fredoka.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/Arsenal/Arsenal-Bold.ttf")
}

body {
    height: 90vh;
}

main {
    font-family: montserrat;
    color: #000000;
    align-items: center;
    justify-content: center;

}

main h1 {
    font-family: mukta_bold;
    font-size: 35px;
    color: #000000;
}

aside h1 {
    margin: 1px;
}

#text {
    color: #000000;
    text-align: center;
}

#text p {
    color: #000000;
    text-align: center;
    margin: 5px;
}

#greetings {
    display: grid;
    direction: column;
    
}

#greetingsImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#logoImage {
    width: 90px;
}

#logoImageVerde {
    display: none;
}

#imageFooter {
    visibility: hidden;
    height: 0px;
}
#escolhaTipoCadastro{
    display: flex;
    background-color: #FEFEEB;
    justify-content: center;
    margin: 5px;
}
.btnSejacoletor{
    width: 15px;
    height: 15px;
    border: solid 1px;
    border-radius: 10px;
    margin: 3px;
}
.btnSejacoletor.ativo{
    background-color: #3B5284;
}

.sejaColetor{
    font-size: 18px;
    font-family: Montserrat;
}

.textoSejaColetor{
    font-size: 12px;
    background-color: #FEFEEB;
    font-family: fredoka;
}
.formulario {
    background-color: #fff;
    max-width: 450px;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.formulario h1 {
    padding: 8px;
    text-align: center;
    color: #000;

}

.formulario p {
    margin-bottom: 10px;
}

.form {
    display: grid;
    direction: column;
    align-items: center;
    justify-content: center;


}

.form-content {
    margin-bottom: 4px;
    padding-bottom: 10px;
    position: relative;
}

.form-content label {
    display: inline-block;
    margin-bottom: 4px;
    color: #000;
    font-size: 15px;

}

p {
    color: #000;
    text-align: center;
    padding: 10px;
}

#link {
    color: #5D6E1E;
    font-family: mukta_bold;
    font-size: 18px;
}

.form-content input {
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #b6b2b2;
    color: #000;

}

.form-content a {
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.btnProx {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

#btnProx {
    background-color: #3B5284;
    color: #fff;
    width: 100px;
    border-radius: 14px;
    padding: 8px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;
}

.form button {
    background-color: #3B5284;
    color: #fff;
    width: 100px;
    border-radius: 14px;
    padding: 8px;
    border: 0;
    font-size: 16px;
    margin-top: 10px;

}

.btnCadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.btnCadastro.ativo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: static;
    display: none;


}


/* .sejaColetor {
    display: flex;
    align-items: center;
    justify-content: center;
}
#textoSejaColetor{
    font-size: 11px;
}
.btnSejacoletor {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;

}

.btnSejacoletor.ativo {
    background-color: #3c49b9
} */

/*#btnProx {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: static;
    display: none;
    cursor: pointer;

}

#btnProx.ativo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    position: static;


}

.form-content.error input {
    border-color: #ff3b25;
}

.form-content.error a {
    color: #ff3b25;
    visibility: visible;
}

.firstForm.ativo {
    display: none;
}
#second-form{
    display: none;
}
#second-form.ativo{
    display: block;
}

@media(min-width: 970px) {

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #FEFEEB;
        width: 1000px;
        height: 650px;
        margin: 110px auto;
        border-radius: 20px;
        box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.25);

    }

    main h1 {
        font-size: 40px;
        text-align: center;
    }

    #logoImageVerde {
        width: 190px;
        margin: 15px;
        margin: 40px auto;
        display: block;
    }

    #logoImage {
        display: none;
    }

    aside {
        width: 500px;
        height: 650px;
        background-color: #FEFEEB;
        border-bottom-left-radius: 20px;
        border-top-left-radius: 20px;
        color: #5D6E1E;
        
        
    }
    .form{
        background-color: #FEFEEB;
    }
    h1{
        background-color: #FEFEEB;
    }
    #text p {
        margin-bottom: 61px;
        color: #5D6E1E;
        font-size: 17px;
    }

    #text h1 {
        margin-bottom: 99px;

        color: #5D6E1E;
    }


    #imageFooter {
        height: 100px;
        width: 600px;
        display: block;
        border-bottom-left-radius: 20px;
        visibility: visible;
    }

} */