@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

body {
    background-color: #FAF3E1;
}
.logoNav img{
    width: 100%;
    max-width: 250PX;
}
.contanerMeusPontos h1 {
    font-family: mukta_bold;
    font-size: 20px;
}

.contanerMeusPontos h2 {
    font-family: mukta_bold;
    font-size: 15px;
}

.contanerMeusPontos h3 {
    font-family: mukta_bold;
    font-size: 15px;
}

.contanerMeusPontos p {
    font-family: mukta_medium;
    font-size: 15px;
    color: #000;
}

.contanerMeusPontos {
    color: #6A994E;
    
}
.sectionMeusPontos{
    display: flex;
    justify-content: center;
}
.sectionMeusPontos img{
    margin-left: 15%;
    margin-top: 40px
}
.addMeuPonto {
    display: flex;
    justify-content: center;
}

.btnAddMeuPonto {
    width: 50px;
    height: 50px;
    border: 0px;
    border-radius: 25px;
    margin: 50px;
}

.btnAddMeuPonto img {
    position: relative;
    width: 50px;
    padding-top: 3px;
    padding-right: 3px; 
}
.cardMeuPonto{
    width: 350px;
    height: 450px;
    background-image: url(../assets/img/estabelecimento.jpg);
    background-size: 350px 200px;
    padding-top: 200px;
    background-repeat: no-repeat;
    border-top: 20px solid;
    border-radius: 20px;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#ReaderLogoMeusPontos{

    width: 300px;
    margin-left: 150px;
    margin-top: 28px;
}
.infoLocate{
    width: 100%;
    margin-left: 15px;
}
.infoLocate h2{
    padding-top: 15% ;
}
.infoLocate h3{
    margin-top: 15%;
}
.infoResidue{
    width: 100%;
    margin: auto;
}

.infoResiduoColeta{
    display: flex;
    justify-content: center;
    padding-left: 10px;
}
.infoResidue h2{
    margin-top: 40px;
    text-align: center;
    padding-right: 20px;
}
.cardResidue h3{
    font-size: 20px !important;
    max-width: 90%;
    text-align: center;
    padding-top: 10%;
    font-family: "mukta_bold";
}
.cardResidue li:nth-child(1){
    margin-top: 10%;
}
.cardResidue li{
    margin: 5px;
    font-size: 15px;
    color: #000;
}
.cardResidue {
    width: 85%;
    height: 140px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ECEAEA;
    
}
@media(min-width: 940px){
    .contanerMeusPontos h1 {
        font-family: mukta_bold;
        font-size: 40px;
    }
    
    .contanerMeusPontos h2 {
        font-family: mukta_bold;
        font-size: 30px;
    }
    
    .contanerMeusPontos h3 {
        font-family: mukta_bold;
        font-size: 20px;
    }
    
    .contanerMeusPontos p {
        font-family: mukta_medium;
        font-size: 20px;
        color: #000;
    }
    .cardMeuPonto {
        background-image: url(../assets/img/estabelecimento.jpg);
        background-repeat: no-repeat;
        background-size: 300px 350px;
        padding-left: 300px;
        border-left: 20px solid;
        padding-top: 0px;
        border-top: 0px;
        width: 70%;
        max-width: 1000px;
        height: 350px;
        columns:  2;
        column-gap: 15px;
        background-color: #FAF3E1;
        display: flex;
        margin: auto;
        border-radius: 20px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .infoLocate{
        width: 50%;
    }
    .infoResidue{
        width: 50%;
        margin: 10px;
    }
    .infoResidue h2{
        text-align: center;
        padding-top: 15px;
    }
    
}
