@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

.navigation {
    margin-top: -30px !important;
}

.main {
    margin-top: 50px;
}

#coletaBluImg{
    display: none;
}

#titlePontoColeta,
#localNext {

    /* position: relative; */
    margin-left: 33px;
    width: 206px;
    height: 21px;
    flex-shrink: 0;
    color: #6A994E;
    font-family: mukta_bold;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}


#localNext {

    /* margin-top: 80px; ANTES DA GAMBIARRA DA NAV */
    margin-top: -34px;
    margin-left: 60px !important;
    margin-bottom: -20px;
}

#location {

    width: 50px;
    margin-top: 65px;
    margin-left: 20px !important;
    /* position: absolute; */
}

#instructionPontoColeta,
#doubtsPontoColeta {

    width: 306px;
    /* position: relative; */
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    margin-left: 33px;
    font-family: mukta_medium;
}


.selectPonto {

    /* position: relative; */
    width: 359px;
    height: 43px;
    border-radius: 22px;
    background-color: #FFFFFF;
    color: #6A994E;
    font-family: mukta_medium;
}


#leafInput {

    display: flex;
    /* position: relative; */
    width: 120px;
    height: 43px;
    margin-left: -17px;
    border-radius: 22px, 0px, 22px, 22px;
}


form {

    margin-top: 30px;
}



.designInputPonto {

    height: 44px;
    width: 300px;
    background-color: white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 47px;
    margin-top: 50px;
    border-radius: 22px;
    border: 1px solid #FFFFFF;
    font-family: mukta_medium;
}


#btnLocalPonto {

    height: 38px;
    width: 300px;
    color: #FFFFFF;
    background-color: #6A994E;
    margin-top: 53px;
    margin-left: 27px;
    border-radius: 22px;
    font-family: mukta_medium;
}


.grid {

    width: 245px;
    height: 62px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.card {
    padding-bottom: 40px;
}

.card,
.mainTitleCard {
    flex-direction: column;
    /* position: relative; */
    margin-left: 33px;
    color: black;
    font-family: mukta_medium;
    font-size: 15px;
    gap: 4px;
    height: 50%;
}

#allCards {
    display: flex;
    COLUMN-GAP: 55px;

}

.titleCard {

    color: #6A994E;
}


#nameCard {

    font-family: mukta_bold;
    font-size: 16px;
    margin-left: 0 !important;
}


@media(min-width:750px) {

    .main {
        margin-left: 250px;
    }

    #instructionPontoColeta,
    #doubtsPontoColeta,
    #titlePontoColeta {

        width: 755px;
    }

    form {

        margin-top: 30px;
    }



    .designInputPonto {
        width: 390px;
    }



    #btnLocalPonto {
        display: flex;
        margin-top: 60px;
        padding: 8px 80px;
    }
    #allCards {
        COLUMN-GAP: 130px;
        
    }

}