@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

.main {
    margin: auto;
}

#coletaBluImg {
    display: none;
}

#titlePontoColeta,
#localNext {

    /* position: relative; */
    margin-left: 33px;
    width: 206px;
    height: 21px;
    flex-shrink: 0;
    color: #6A994E;
    font-family: mukta_bold;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}


#localNext {

    /* margin-top: 80px; ANTES DA GAMBIARRA DA NAV */
    margin-top: -34px;
    margin-left: 60px !important;
    margin-bottom: -20px;
}

#location {

    width: 50px;
    margin-top: 65px;
    margin-left: 20px !important;
    /* position: absolute; */
}

#instructionPontoColeta,
#doubtsPontoColeta {

    width: 306px;
    /* position: relative; */
    font-size: 14px;
    text-align: left;
    margin-top: 25px;
    margin-left: 33px;
    font-family: mukta_medium;
}


.selectPonto {

    /* position: relative; */
    width: 359px;
    height: 43px;
    border-radius: 22px;
    background-color: #FFFFFF;
    color: #6A994E;
    font-family: mukta_medium;
}


#leafInput {

    display: flex;
    /* position: relative; */
    width: 120px;
    height: 43px;
    margin-left: -17px;
    border-radius: 22px, 0px, 22px, 22px;
}


.designInputPonto {

    height: 44px;
    width: 300px;
    background-color: white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin-left: 47px;
    margin-top: 50px;
    border-radius: 22px;
    border: 1px solid #FFFFFF;
    font-family: mukta_medium;
}


#btnLocalPonto {

    height: 38px;
    width: 300px;
    color: #FFFFFF;
    background-color: #6A994E;
    margin-top: 53px;
    margin-left: 27px;
    border-radius: 22px;
    font-family: mukta_medium;
}


.grid {

    width: 245px;
    height: 62px;
    margin-bottom: 30px;
    margin-left: 40px;
}

/* CARDPORVISORIO */

.cardMeuPonto h1 {
    font-family: mukta_bold;
    font-size: 30px;
}

.cardMeuPonto h2 {
    font-family: mukta_bold;
    font-size: 25px;
    margin: 20px;
}

.cardMeuPonto h3 {
    font-family: mukta_bold;
    font-size: 15px;
    
}

.cardMeuPonto p {
    font-family: mukta_medium;
    font-size: 15px;
    color: #000;
}
.cardMeuPonto {
    background-image: url(../assets/img/estabelecimento.jpg);
    background-repeat: no-repeat;
    background-size: 250px 350px;
    padding-left: 250px;
    border-left: 20px solid;
    padding-top: 0px;
    position: absolute;
    margin-left: 250px;
    visibility: hidden;
    margin-top: -200px;
    border-top: 0px;
    width: 70%;
    max-width: 900px;
    height: 350px;
    color: #6A994E;
    columns: 2;
    column-gap: 15px;
    background-color: #FAF3E1;
    display: flex;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.cardMeuPonto.ativo{
    visibility: visible;
}

.infoLocate {
    width: 100%;
    margin-left: 15px;
    margin-top: 25px;
}
.infoLocate h2{
    padding-bottom: 10px;
}
.infoLocate h3{
    font-size: 20px;
    margin-top: 15px;
}
.infoResidue {
    width: 100%;
    margin: auto;
}

.infoResiduoColeta {
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.infoResidue h2 {
    text-align: center;

}

.cardResidue {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 20px;
    background-color: #ECEAEA;
    display: grid;
    justify-content: center;
    align-items: center;

}

/* modal */

/* 
.modalContainerPontoColeta {
    width: 350px;
    height: 550px;
    flex-shrink: 0;
    margin-left: 30px;
    margin-top: -100px;
    display: none;
    position: absolute;
    border-radius: 22px;
    background: #FEFEEB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card {
    padding-bottom: 40px;

}

.modalContainerPontoColeta.ativo {
    display: block;
}

.topModalPontoColeta {
    width: 100%;
    height: 100px;
    background: #6A994E;
    position: absolute;
    z-index: 1;
    border-radius: 22px 22px 0px 0px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#imagePontoColeta {

    margin-top: 250px;
}

.imagePontoColetaModal {
    width: 350px;
    height: 200px;
    flex-shrink: 0;
    margin-top: 28px;
    border-radius: 22px 22px 0px 0px;

}

.modalContainerPontoColeta h1 {
    color: #6A994E;
    font-family: mukta_bold;
    margin: 10px;
    font-size: 25px;

}


.infoPonoColeta {
    display: flex;
    flex-direction: column;
}

.infoPonoColeta li {
    width: 350px;
    height: 80px;
    overflow: hidden;
    margin-left: 5px;
}

.infoPonoColeta li {
    font-family: mukta_medium;
}

.infoPonoColeta li span {
    color: #6A994E;
    font-family: mukta_bold;
}

#closeModalPontoColeta {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.barCloseModalPontoColeta {
    display: flex;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #6A994E;
    margin: 5px auto;
    transition: all 0.3s;

}

.barCloseModalPontoColeta:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.barCloseModalPontoColeta:nth-child(2) {
    transform: translateY(-0px) rotate(-45deg);
}


.contentCard {
    display: flex;
    gap: 25px;
}

.mainTitleCard {
    flex-direction: column;
    margin-left: 33px;
    color: black;
    font-family: mukta_medium;
    font-size: 15px;
    gap: 4px;
    height: 50%;
} */

#allCards {
    display: flex;
    COLUMN-GAP: 55px;

}


.nameCard,
.address,
.obsCard {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 140px;
}

.titleCard {

    color: #6A994E;
}


#nameCard {


    font-family: mukta_bold;
    font-size: 26px;
    margin-left: 0 !important;
    cursor: pointer;
}

#nameCard:hover {
    color: #6A994E;
    animation: animacaoTexto 20s;
}

@keyframes animacaoTexto {
    0% {
        opacity: 0, 5;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

@media(min-width: 750px) {


    .mains {
        width: 1500px;
        margin: auto;
    }

    .modalContainerPontoColeta.ativo {
        display: block;
    }

    .topModalPontoColeta {
        width: 100%;
        height: 100px;
        background: #6A994E;
        position: absolute;
        z-index: 1;
        border-radius: 22px 22px 0px 0px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #imagePontoColeta {

        margin-top: 250px;
    }

    .imagePontoColetaModal {
        width: 350px;
        height: 200px;
        flex-shrink: 0;
        margin-top: 28px;
        border-radius: 22px 22px 0px 0px;

    }

    .modalContainerPontoColeta h1 {
        color: #6A994E;
        font-family: mukta_bold;
        margin: 10px;
        font-size: 25px;

    }


    .infoPonoColeta {
        display: flex;
        flex-direction: column;

    }

    .infoPonoColeta li {
        width: 350px;
        height: 80px;
        overflow: hidden;
        margin-left: 5px;
    }

    .infoPonoColeta li {
        font-family: mukta_medium;
    }

    .infoPonoColeta li span {
        color: #6A994E;
        font-family: mukta_bold;
    }

    #closeModalPontoColeta {
        display: flex;
        justify-content: center;
        margin-top: -25px;
    }

    .barCloseModalPontoColeta {
        display: flex;
        width: 28px;
        height: 3px;
        border-radius: 3px;
        background: #6A994E;
        margin: 5px auto;
        transition: all 0.3s;

    }

    .barCloseModalPontoColeta:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .barCloseModalPontoColeta:nth-child(2) {
        transform: translateY(-0px) rotate(-45deg);
    }

    .designInputPonto {
        width: 390px;
    }


    #btnLocalPonto {
        display: flex;
        margin-top: 60px;
        padding: 8px 80px;
    }

    #allCards {
        COLUMN-GAP: 130px;

    }

    .contentCard {
        display: flex;
        gap: 25px;
    }

    .mainTitleCard {
        flex-direction: column;

        /* position: relative; */
        margin-left: 33px;
        color: black;
        font-family: mukta_medium;
        font-size: 15px;
        gap: 4px;
        height: 50%;
    }


    #allCards {
        display: flex;
        COLUMN-GAP: 55px;

    }


    .nameCard,
    .address,
    .obsCard {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 140px;
    }

    .titleCard {

        color: #6A994E;
    }

    #nameCard {


        font-family: mukta_bold;
        font-size: 26px;
        margin-left: 0 !important;
        cursor: pointer;
    }

    #nameCard:hover {
        color: #6A994E;
        animation: animacaoTexto 20s;
    }

    @keyframes animacaoTexto {
        0% {
            opacity: 0, 5;
            transform: translateY(-10px);
        }

        100% {
            opacity: 1;
            transform: translateY(-10px);
        }
    }

    @media(min-width: 750px) {



        #instructionPontoColeta,
        #doubtsPontoColeta,
        #titlePontoColeta {

            width: 755px;

        }

        #instructionPontoColeta,
        #doubtsPontoColeta {
            font-size: 18px;
        }

        #titlePontoColeta {
            font-size: 25px;

        }


        .designInputPonto {
            width: 390px;
        }

        #btnLocalPonto {
            display: flex;
            margin-top: 60px;
            padding: 8px 80px;
        }

        #allCards {
            COLUMN-GAP: 130px;

        }




        .contentCard {
            gap: 80px;
        }

        .nameCard,
        .address,
        .obsCard {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            width: 200px;
        }

        #coletaBluImg {
            display: flex;
            margin-right: 200px;
            width: 500px;
            height: 445px;
            float: right;
            border-radius: 22px;
        }



    }

}