@font-face {

  font-family: "mukta_bold";
  src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

  font-family: "mukta_medium";
  src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

.btnOpenModalHistoric {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6A994E;
  color: white;
  cursor: pointer;
  font-family: mukta_medium;
}

.mainHistoric {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mukta_medium;
}

.containerHistoric {
  background-color: #fafafa;
  border-radius: 22px;


  display: flex;
  /* DEIXA NONE DEPOIS */
  flex-direction: column;
  /* TIRA DEPOIS */


  margin: 14px;
  max-width: 600px;
  width: 100%;
  box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#btnAddHistoric {
  border-radius: 90px;
  width: 45px;
  height: 45px;
}

.active {
  display: flex;
  flex-direction: column;
}

.active .containerHistoric {
  animation: modal .4s;
}

.headerHistoric {
  background-color: #6A994E;
  padding: 24px;
  text-align: center;
  color: #FFF;
}

.formHistoric {
  padding: 18px;
}

.formContentHistoric {
  padding-bottom: 18px;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}

.formContentHistoric label {
  display: inline-block;
  margin-bottom: 4px;
}

.formContentHistoric input,
select {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
  font-family: mukta_medium;
}

.formContentHistoric a {
  position: absolute;
  bottom: -8px;
  left: 0;
  visibility: hidden;
}

.formHistoric button {
  background-color: #6A994E;
  color: #FFF;
  width: 100%;
  border-radius: 22px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
  font-family: mukta_medium;
  margin-right: 20px;
}

.btnsRegister{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnCloseHistoric {
  background-color: brown !important;
 }

.formContentHistoric.error input {
  border-color: #ff3b25;
}

.formContentHistoric.error a {
  color: #ff3b25;
  font-size: 14px;
  visibility: visible;
  margin-bottom: 5px;
}


@media(min-width:750px) {

  .addHistoric {
    display: flex;
    justify-content: space-around;
  }

  .addNewHistoric {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: 40px;
  }
}