@font-face {

  font-family: "mukta_bold";
  src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

  font-family: "mukta_medium";
  src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}


.modalContainerConfirmn {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .35);
  position: fixed;
  top: 30px;
  display: none;
  z-index: 999;
  justify-content: center;
}

.activeConfirmn {
  display: flex !important;
}

.modalConfirmn {
  height: 100px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color:#FEFEEB;
  border-radius: 10px;
  width: 30%;
  font-family: mukta_medium;
  text-align: justify;
  margin: 200px;
}



.activeConfirmn .modalConfirmn {
  animation: modal .4s;
}

.modalContainerConfirmn span {
  margin-left: 17px;
  margin-bottom: 10px;
}

.btnConfirmn {
  width: 50px;
  margin-left: 45px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: mukta_medium;
  background-color: #6A994E;
}



.mainHistoric {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: mukta_medium;
}

.containerHistoric {
  background-color: #fafafa;
  border-radius: 22px;
  display: flex;
  flex-direction: column;
  margin: 14px;
  max-width: 600px;
  width: 100%;
  box-sizing: 0 3px 5px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

#btnAddHistoric {
  border-radius: 90px;
  width: 45px;
  height: 45px;
}

.headerHistoric {
  background-color: #6A994E;
  padding: 24px;
  text-align: center;
  color: #FFF;
}

.formHistoric {
  padding: 18px;
}

.formContentHistoric {
  padding-bottom: 18px;
  position: relative;
  margin-left: 25px;
  margin-right: 25px;
}

.formContentHistoric label {
  display: inline-block;
  margin-bottom: 4px;
}

.formContentHistoric input {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
  font-family: mukta_medium;
  margin-bottom: 10px;

}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #A7C957 !important;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 22px !important;
  border-color: #6A994E !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 20px !important;
}

.select2-container--default .select2-selection--single {
  display: block !important;
  width: 138px !important;
  border-radius: 8px !important;
  padding: 5px !important;
  border: 2px solid #dfdfdf !important;
  font-family: mukta_medium !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  margin-left: 15px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #6A994E !important;
  border-radius: 22px !important;
}

.formContentHistoric a {
  position: absolute;
  bottom: -4px;
  left: 0;
  visibility: hidden;
}

.formHistoric button {
  background-color: #6A994E;
  color: #FFF;
  width: 100%;
  border-radius: 22px;
  padding: 10px;
  border: 0;
  font-size: 16px;
  cursor: pointer;
  margin-top: 14px;
  font-family: mukta_medium;
  margin-right: 20px;
}

.btnsRegister {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnCloseHistoric {
  background-color: brown !important;
}

.formContentHistoric.error input {
  border-color: #ff3b25;
}

.formContentHistoric.error a {
  color: #ff3b25;
  font-size: 14px;
  visibility: visible;
  margin-bottom: 15px;
}


@media(min-width:750px) {

  .addHistoric {
    display: flex;
    justify-content: space-around;
  }

  .addNewHistoric {
    display: flex;
    justify-content: space-between;
    margin-left: -25px;
    margin-right: 40px;
  }

  .select2-container--default .select2-selection--single {
    width: 200px !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: 80px !important;
    top: 70% !important;
  }

  .select2-container--open .select2-dropdown--below {
    width: 195px !important;
  }

  .select2-container .select2-selection--single {
    height: 40px !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 25px !important;
  }

  .modalConfirmn {

    width: 12%;

  }

  .modalContainerConfirmn span {
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .btnConfirmn {
    margin-left: 26px;
  }
}