@font-face {

  font-family: "mukta_bold";
  src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

  font-family: "mukta_medium";
  src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

.btnOpenModalHistoric {
  font-size: x-large;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6A994E;
  color: white;
  cursor: pointer;
  font-family: mukta_medium;
}

.modalContainerHistoric {
  width: 100vw;
  position: fixed;
  margin: inherit;
  display: none;
  z-index: 999;
  justify-content: center;
}

.modalHistoric {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  width: 30%;
  font-family: mukta_medium;
  text-align: justify;
}

.active {
  display: flex;
}

.active .modalHistoric {
  animation: modal .4s;
}

.btnConfirm {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: medium;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-family: mukta_medium;
  background-color: #6A994E;

}

.modalHistoric a {
  bottom: -8px;
  left: 0;
  visibility: hidden;
}
.modalHistoric label {
  display: inline-block;
  margin-bottom: 4px;
}

.modalHistoric input, select {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 2px solid #dfdfdf;
  font-family: mukta_medium;
}
.modalHistoric.error input {
  border-color: #ff3b25;
}

.modalHistoric.error a {
  color: #ff3b25;
  font-size: 14px;
  visibility: visible;
  margin: 5px;
}

.sucess {
  color: #307c52;
  font-family: mukta_bold;
}


@keyframes modal {
  from {
    opacity: 0;
    transform: translate3d(0, -60px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 500px) {
  .modalHistoric {
    padding: 10px;
    width: 80%;
  }

  .btnConfirm button {
    font-size: smaller;
  }
}