@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

.centralizeParagraph{
    display: flex;
    justify-content: center;
}

#paragraphQuemSomos,
.paragraphQuemPodeUsar,
.paragraphComoAjudamos {
    margin: 20px 0;
}

.paragraphQuemPodeUsarImg {
    display: none;
}

.paragraphQuemSomosImg,
.paragraphQuemPodeUsarLogo,
.paragraphComoAjudamosImg,
.footerLogo {
    flex-wrap: wrap;
    align-content: space-around;
}

.footerLogo {
    height: 56px;
}

.paragraphQuemSomosLogoText,
.paragraphQuemPodeUsarText,
.paragraphComoAjudamosLogoText{
    margin: 30px 0px;
}

.paragraphQuemSomosLogoText h1,
.paragraphComoAjudamos h1 {
    width: 250px;
    font-family: mukta_bold !important;
    font-size: 25px;
    color: #6A994E;
    font-weight: 700;
}

.paragraphQuemSomosLogoText p,
.paragraphComoAjudamos p {
    width: 250px;
    font-family: mukta_medium !important;
    font-size: 18px;
    color: #6A994E;
}

.paragraphQuemSomosImgMapa {
    height: 240px;
}

.paragraphComoAjudamos button {
    width: 130px;
    height: 40px;
    border: 1px solid #6A994E;
    border-radius: 20px;
    font-size: 18px;
    font-family: mukta_bold !important;
    color: #fff;
    background-color: #6A994E;
}

.paragraphComoAjudamosResiduos {
    height: 320px;
}

.paragraphQuemPodeUsar {
    background-color: rgba(106, 153, 78, 0.15);
}

#paragraphQuemPodeUsarLogoText {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
}

.paragraphQuemPodeUsarText h1 {
    width: 250px;
    font-family: mukta_bold !important;
    font-size: 25px;
    color: #6A994E;
    font-weight: 700;
}

.paragraphQuemPodeUsarText p {
    width: 250px;
    font-family: mukta_medium !important;
    font-size: 18px;
    color: #6A994E;
}

.footerImgPlants {
    display: none;
}

.footerColumn {
    background-color: #5D6E1E;
    color: #fff;
    display: grid;
    justify-content: space-around;
}

.footerLogo {
    height: 100px;
    width: 300px;
    margin: 20px 0;
}

.footerComplaint {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.footerComplaint h1 {
    font-family: mukta_bold !important;
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
}

.footerComplaint p {
    font-family: mukta_medium !important;
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.footerComplaint a {
    font-family: mukta_bold !important;
    font-size: 14px;
    border: 10px solid #6A994E;
    border-radius: 20px;
    background-color: #6A994E;
}


@media(min-width: 970px) {

    /* #header-logo-menu {
        display: flex;
        justify-content: space-between;
    }

    .header-logo {
        display: flex;
        justify-content: flex-start;
    }

    .header-btn-login {
        width: 110px;
        font-size: 20px;
    }

    .header-menu {
        align-items: center;
        position: relative;
    }

    .header-btn-menu {
        display: none;
    }

    .header-modal-menu {
        display: flex;
        justify-content: end;
        width: 600px;
        background-color: #FAF3E1;
    }

    .header-menu li {
        color: #307c52;
        font-size: 22px;
        padding-left: 5px;
    }

    /* .header-modal-menu-residuos li{
        color: #FAF3E1;
    } */

    /* .header-modal-menu-residuos,
    .footer-modal-menu-residuos {
        padding-left: 0px;
        position: absolute;
        background-color: #6A994E;
        color: #FAF3E1;
        border-radius: 30px;
        font-family: mukta_medium !important;
        height: 198px;
        width: 150px;
        padding: 10px;
    }

    .footer-modal-menu-residuos{
        position: relative !important;
    } */

    #paragraphQuemSomos,
    .paragraphQuemPodeUsar,
    .paragraphComoAjudamos {
        display: flex;
        justify-content: space-around;
    }

    .paragraphQuemPodeUsarImg {
        display: flex;
        height: 350px;
        margin: 30px 100px;
    }

    .paragraphQuemSomosImgMapa {
        height: 350px;
        margin-right: 50px;
    }

    .paragraphQuemSomosText,
    .paragraphComoAjudamosText,
    .paragraphQuemPodeUsarText {
        align-items: center;
        display: grid;
        align-content: center;
    }

    .paragraphQuemSomosLogoText h1,
    .paragraphComoAjudamos h1,
    .paragraphQuemPodeUsarText h1 {
        width: 500px;
        font-size: 25px;
    }

    .paragraphQuemSomosLogoText p,
    .paragraphComoAjudamos p,
    .paragraphQuemPodeUsarText p {
        width: 500px;
        font-size: 18px;
    }

    .paragraphComoAjudamos button {
        width: 160px;
        font-size: 18px;
    }

    .paragraphComoAjudamoResiduos {
        height: 400px;
        margin-right: 100px;
    }

    .footerImgMobile {
        display: none;
    }

    .footerImgPlants {
        display: flex;
    }

    .footerColumn {
        display: flex;
    }

    .footerLogo {
        height: 340px;
        margin: 0;
    }

    .footerLogo {
        height: 100px;
    }

    .footerComplaint {
        width: 400px;
    }

    .footerComplaint h1 {
        font-size: 20px;
    }

    .footerComplaint p {
        font-size: 18px;
    }

    .footerComplaint a {
        height: 50px;
        font-size: 18px;
        display: flex;
        align-items: center;
    }

}

/* FONTES ANTERIORES */

/* @font-face {
    font-family: Fredoka;
    src: url(../assets/fonts/Fredoka.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(../assets/fonts/Montserrat-Italic.ttf);
} */

/* body {
    background-color: #FAF3E1;
} */

/* .error {
    background-color: #3B5284;
    border-radius: 22px;
    border: solid 1px #FAF3E1;
    color: #FAF3E1;
    /* margin: 5px 160px; */
/* width: 190px; */
/*margin-bottom: 10px;
    padding: 5px 10px;
    font-family: mukta_bold;
    text-align: center;
} */

/* .header-logo {
    height: 80px;
    margin: 20px;
    display: flex;
    justify-content: center;
} */

/* .header-btn-login {
    width: 100px;
    height: 40px;
    padding-left: 5px;
    border: 1px solid #5D6E1E;
    border-radius: 20px;
    font-size: 18px;
    font-family: mukta_bold !important;
} */

/* .header-btn-menu {
    width: 100px;
    height: 40px;
}

#header-btn-menu-texto {
    transform: rotate(90deg);
    color: #307c52;
    font-size: 30px;
    font-weight: 700;
} */


/* .modal-active {
    display: block !important; 
}*/

/* 
.header-modal-menu {
    display: none;
    background-color: #307c52;
    width: 100vw;
    margin-top: 10px;
    padding: 10px;
}

.header-modal-menu li:hover {
    color: #5D6E1E;
}

.header-menu {
    display: flex;
    justify-content: center;
}

.header-menu-padding{
    padding-bottom: 15px;
}

.header-menu li {
    padding-right: 18px;
    color: #FAF3E1;
    font-size: 20px;
    font-family: Montserrat !important;
}

.header-modal-menu-residuos,
.footer-modal-menu-residuos {
    display: none;
    padding-left: 30px;
    color: #fff;
} */

/* .header-pesquisa {
    width: 600px;
    height: 40px;
    border: 2px solid #307c52;
    border-radius: 20px;
    background-color: #fff;
    outline: none;
    padding-left: 10px;
    padding-right: 96px;
    margin-right: -96px;
}

.header-pesquisa:active,
.header-pesquisa:focus {
    border-color: #307c52;
    border-width: 3px;
}

.header-btn-pesquisa {
    width: 100px;
    height: 40px;
    border: 2px solid #307c52;
    border-radius: 20px;
    background-color: #307c52;
    font-family: Fredoka !important;
} */