@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}

@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: mukta_medium !important;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #FEFEEB;

}

.navigationLogado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #e69d9d;
    width: 100%;
    background: #FEFEEB;
    transition: all 0.5s;


}

.logoNavLogado {
    width: 17% !important;
    min-width: 100px;

}

.navigationLogado ul {
    display: flex;
    padding-top: 0px;
    align-items: center;
    gap: 5rem;
}

.navigationLogado ul li a:hover {
    color: #A7C957;
}

.navItem {
    font-size: 20px;
    cursor: pointer;
    color: #6A994E;
}

.navigationBarLogado {
    cursor: pointer;
    display: none;
}

.navigationBarLogado .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #6A994E;
    margin: 5px auto;
    transition: all 0.3s;

}

.navigationBarLogado .bar:nth-child(1),
.navigationBarLogado .bar:nth-child(3) {
    background: #307A50;

}


#profileLogado {
    display: none;
}

.profileEditbtn,
.profileExitbtn {
    display: none;
}

.btnProfilePicture {
    display: flex;
    justify-content: center;
    width: 100px;
    cursor: pointer;
}

.btnProfilePicture:hover {
    animation: animacaoTexto 20s;
}

.modalProfilePicture {
    display: none;
    position: absolute;
    top: 120px;
    right: 31px;
    z-index: 1
}

#boxProfilePicture {
    height: 240px;
    width: 200px;
    background-color: #94B447;
    color: #FAF3E1;
    border-radius: 30px;
    padding-left: 15px;
    padding-top: 15px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
}

.modalProfilePicture.ativo {
    display: flex;
}

#profileNameLogado {
    margin-left: 7px;
    margin-top: 10px;
    font-size: 122%;
    color: #FAF3E1;
    font-family: mukta_bold !important;
}

#profilePointLogado,
#profilePickup {
    height: 58px;
    width: 172px;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 130%;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    color: #6A994E;
    border-radius: 28px;
    BORDER: 1px solid #6A994E;
    background-color: #FFFFFF;
    font-family: mukta_bold !important;
}

.profilePonitImgLogado,
.profilePickupImg {
    width: 22%;
}

#itemsBoxProfile {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.profileExit {
    margin-top: 10px;
}

.profileEdit,
.profileExit {
    color: #FAF3E1;
}

.profileEdit a:hover,
.profileExit a:hover {
    color: #307A50 !important;
}

#owl-demo .item img {
    display: block;
    width: 100%;
    height: auto;

}

.carousel1 {
    max-width: 1200px;

}

.carousel1 img {
    width: 80%;

}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

@media(max-width:970px) {
    .navigationLogado {
        padding: 18px 20px;
        z-index: 1001;
        position: fixed;
        margin-top: -50px;
    }

    .logoNavLogado {
        width: 50% !important;   
    }
    

    .navigationBarLogado {
        display: block;

    }

    .navigationBarLogado.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navigationBarLogado.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .navigationBarLogado.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menuNavLogado {
        position: fixed;
        right: -100%;
        top: 65px;
        width: 60%;
        flex-direction: column;
        background: #FEFEEB;
        transition: 0.3s;
    }

    .menuNavLogado.ativo {
        right: 0;
        height: 896px;
    }

    .navigationLogado ul {
        padding-top: 15px;
        gap: 36px;
    }

    .navItem {
        font-size: 17px;
        height: 35px;
        width: 175px;
        color: #FFFFFF;
        background-color: #6A994E;
        border-radius: 22px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #profileLogado {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #profilePicture {
        width: 120px;
    }

    #profileNameLogado {
        color: #6A994E;
    }

    #profilePointLogado {
        margin-top: 2px;
        margin-bottom: 0px;
    }

    #profilePickup {
        margin-top: 15px;
        margin-bottom: 0px;
    }

    #profileTextPointLogado {
        margin-top: 25px;
        margin-bottom: 10px;
        margin-left: 3px;
    }

    .profileEdit,
    .profileExit,
    .btnProfilePicture,
    .profileHome,
    #boxProfilePicture {
        display: none;
    }


    .carousel1 {
        max-width: 600px;
        position: absolute;
        z-index: 1;


    }

    section {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}