/* FONTES ANTERIORES */

/* @font-face {
    font-family: Fredoka;
    src: url(../assets/fonts/Fredoka.ttf);
}

@font-face {
    font-family: Montserrat;
    src: url(../assets/fonts/Montserrat.ttf);
}

@font-face {
    font-family: Montserrat-Italic;
    src: url(../assets/fonts/Montserrat-Italic.ttf);
} */

@font-face {

    font-family: "mukta_bold";
    src: url("../assets/fonts/pontoColeta/Mukta-Bold.ttf")
}


@font-face {

    font-family: "mukta_medium";
    src: url("../assets/fonts/pontoColeta/Mukta-Medium.ttf")
}

#modalLogin {
    background-color: rgba(0,0,0,.35);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 2;
    display: none;
    align-items: center;
    justify-content: center;
}

.enterLogin {
    font-size: 45px;
    color: #6A994E;
    font-family: mukta_bold;
}

.msg {
    position: absolute;
    margin-left: 88px;
    text-align: center;
    font-family: mukta_medium;
    font-size: 14px;
    margin-top: 7px;
}

#backgroundLogin {
    background-color: #FFF;
    border-radius: 12px;
    height: 630px;
}

#closeModal {
    font-size: 35px;
    color: #6A994E;
    margin-left: 5px;
}

.modalLoginActive {
    display: flex !important;
}

#backgroundPhoto {
    margin-left: 73px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

#login {
    background-color: #A7C957;
    border-radius: 20px;
    color: #FFF;
    width: 150px ;
    height: 40px ;
    padding: 5px;
    margin-left: 117px;
    margin-top: 73px;
}

#userLogin {
    color: #6A994E;
    font-size: 22px;
    margin-left: 70px;
    font-family: mukta_medium;
}

#logo {
    margin-top: 45px;
    width: 70px;
    height: 70px;
    margin-left: 90px;
}

#forgotPasswordLogin {
    margin-left: 210px;
    font-size: 14px;
    color: #A7C957;
}

#insertUserLogin {
    border-radius: 15px;
    margin-left: 70px;
    width: 250px;
    height: 28px;
    border-width: 2px;
    background-color: #e5e5e5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;
    outline: none;
}

#insertUserLogin:active,
#insertUserLogin:focus  {
    border-color: #A7C957;
    border-width: 2px;
}

#insertPasswordLogin:active,
#insertPasswordLogin:focus  {
    border-color: #A7C957;
    border-width: 2px;
}

#insertPasswordLogin {
    border-radius: 15px;
    width: 250px;
    height: 28px;
    margin-left: 70px;
    border-width: 2px;
    background-color: #e5e5e5;
    padding-left: 12px;
    padding-right: 12px;
    font-size: small;
    outline: none;
}

#passwordLogin {
    color: #6A994E;
    margin-top: 15px;
    font-size: 22px;
    margin-left: 70px;
    font-family: mukta_medium;
}

.registerLogin {
    margin-top: 105px;
    font-size: 14px;
}

#linkRegisterLogin {
    color: #6A994E;
}

@media(max-width: 970px) {
    #backgroundPhoto {
        margin-left: 73px;
        border-radius: 12px;
        display: none;
    }

    #backgroundLogin {
        background-color: #FFF;
        border-radius: 12px;
        padding-right: 60px;
    }
}